#first {
  color: white;
  background-color: black;
}

.centered {
  text-align: center;
}

h2{
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  font-size: 32px;
  background-color: red;
  color: white;
}
